<html>
  <head>
    <title>Show Result Demo</title>
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>
        <%= title %>
      </h1>
      <h2>
        Application ID: <%= app_id %>
      </h2>
      <p>
        Site Display Name: <%= site_display_name %>
      </p>
      <p>
        Instance ID: <%= instance_id %>
      </p>
      <p>
        Response: <%= response %>
      </p>
    </div>
  </body>
</html>
